---
import Project from "./Project.astro";
import { projects } from "../data/projects.js";
---

<section class="mb-20">
	<h2 class="text-xl font-bold mb-4">Proyectos</h2>
	<div class="grid gap-8 sm:grid-cols-2">
		{
			projects.map((project) => (
				<Project
					key={project.title}
					id={project.id}
					title={project.title}
					images={project.images}
					url={project.url}
					badges={project.badges}
				/>
			))
		}
	</div>
</section>
