---
import { Image } from "astro:assets";
import Badge from "./Badge.astro";
const { id, title, images, badges } = Astro.props;
---

<article class="relative hover:scale-105 transition-all duration-300 overflow-hidden">
	<Image
		class="rounded mb-2"
		src={images[0]}
		alt={`Sitio web ${title}`}
		height={320}
		densities={[0.5, 1, 2]}
		quality={80}
		transition:name={`project-image-${id}-0`}
		loading="eager"
	/>
	<h2 class="text-xl font-medium mb-2 text-(--color-accent)" transition:name={`project-title-${id}`}>
		{title}
	</h2>
	<div class="flex gap-2">
		{badges.map((badge, index) => <Badge title={badge.title} id={`${index}-${id}`} />)}
	</div>
	<a
		class="absolute inset-0 text-(--color-accent) hover:text-(--color-accent-light)"
		href={`/proyectos/${id}`}
		aria-label={`Ver proyecto ${title}`}></a>
</article>
