---
import Badge from "./Badge.astro";
const { title, image, url, badges } = Astro.props;
---

<article>
	<img src={image.src} alt={title} width={image.width} height={260} />
	<h2>
		{
			url ? (
				<a href={url} target="_blank" rel="noopener noreferrer">
					{title}
				</a>
			) : (
				title
			)
		}
	</h2>
	<div class="badges">
		{badges.map((badge) => <Badge title={badge.title} />)}
	</div>
</article>
<style>
	img {
		margin-bottom: 0.5rem;
		border-radius: 0.25rem;
		object-fit: cover;
	}

	a {
		text-decoration: none;
		color: var(--color-accent);
	}

	h2 {
		font-size: 1rem;
		margin-bottom: 0.5rem;
	}

	.badges {
		display: flex;
		gap: 0.5rem;
	}
</style>
